version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leetcode-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - leetcode

networks:
  leetcode:
    driver: bridge
